<!DOCTYPE html>
<html lang="en">
<head>
	<meta charset="UTF-8">
	<title>FBS</title>
	<link rel="stylesheet" href="/public/css/app.css">
    <link rel="stylesheet" href="path/to/font-awesome/css/font-awesome.min.css">
	<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.4.1/jquery.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.16.0/umd/popper.min.js"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.4.1/js/bootstrap.min.js"></script>
    <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.7.0/css/all.css" integrity="sha384-lZN37f5QGtY3VHgisS14W3ExzMWZxybE1SJSEsQp9S+oqd12jhcu+A56Ebc1zFSJ" crossorigin="anonymous">
    <link rel="stylesheet" type="text/css" href="https://cdn.datatables.net/1.10.20/css/jquery.dataTables.css">
    <script type="text/javascript" charset="utf8" src="https://cdn.datatables.net/1.10.20/js/jquery.dataTables.js"></script>
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.4.1/css/bootstrap.min.css">
    <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.7.0/css/all.css"
          integrity="sha384-lZN37f5QGtY3VHgisS14W3ExzMWZxybE1SJSEsQp9S+oqd12jhcu+A56Ebc1zFSJ" crossorigin="anonymous">
    <script type="text/javascript" charset="utf8"
            src="https://cdn.datatables.net/1.10.20/js/jquery.dataTables.js"></script>
    <script type="text/javascript" charset="utf8"src="https://cdn.datatables.net/1.10.20/js/jquery.dataTables.js"></script>
</head>
<body>
    <div class="wrapper">
        <nav class="navbar navbar-expand-lg navbar-light bg-light">
            <a class="navbar-brand" href="/index">FBS-ADMIN</a>
                <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarNavAltMarkup" aria-controls="navbarNavAltMarkup" aria-expanded="false" aria-label="Toggle navigation">
                    <span class="navbar-toggler-icon"></span>
                </button>
            <div class="collapse navbar-collapse" id="navbarNavAltMarkup">
                <div class="navbar-nav">
                    <a class="nav-link active" href="/index">Product <span class="sr-only">(current)</span></a>
                    <a class="nav-link active" href="/list_cate">Cate</a>
                    <a class="nav-link active" href="/list_user">User</a>
                    <a class="nav-link active" href="/add_banner">Banner</a>
                    <a class="nav-link active" href="/list_order">Đặt hàng</a>
                </div>
            </div>
        </nav>
        {{!-- <div class="sidebar">
            <h2><a  style="color: rgb(209, 209, 209);font-weight: bolder;" href="/index">FBS-admin</a></h2>
            <ul>
                <li><a href="/index"><i class="fas fa-home"></i>Product</a></li>
                <li><a href="/list_cate"><i class="fas fa-file-archive"></i>Cate</a></li>
                <li><a href="/list_user"><i class="fas fa-user"></i>User</a></li>
                <li><a href="/list_gift"><i class="fas fa-gift"></i>Khuyến mãi</a></li>
                <li><a href="/add_banner"><i class="fas fa-band-aid"></i>Banner</a></li>
                <li><a href="/list_order"><i class="fas fa-luggage-cart"></i>Đặt hàng</a></li>
            </ul> 
        </div> --}}
        <div class="main_content">
            {{{body}}}  
        </div>
    </div>
    <script>
        $(document).ready(function () {
            $('#example').DataTable();
        });
    </script>
</body>
</html>