<body>
    <div class="table-responsive">
        <form
            action="api/upload/photos-banner"
            method="POST"
            enctype="multipart/form-data">
            
            <div class="form-group">
                <label>Upload file</label>
                    <input
                        multiple
                        type="file"
                        class="form-control-file"
                        name="files"
                        id="file"
                        placeholder="File"
                    />
            </div>
            <button type="submit" class="btn btn-primary">Upload</button>
        </form>
    </div>
</body>
