<body>
    <button type="button">
        <a  href="/add_cate" class="btn btn-primary">Thêm Loại sản phẩm</a>
    </button>
    <div class="table-responsive"  >
        <table class="table v-middle">
            <thead>
                <tr class="bg-light">
                    <th class="border-top-0">Hình ảnh</th>
                    <th class="border-top-0">Tên loại sản phẩm</th>
                    <th class="border-top-0"></th>                                           
                </tr>
            </thead>
                <tbody>
                    {{# each cateList}}
                    <tr>
                        <td>
                            <image src="http://localhost:5000/public/photo/{{images}}" style="width: 100px; height: 100px"> </image>
                        </td>
                        <td>{{name}}</td>
                        <td>
                            <a class="btn btn-outline-warning" href="/edit_cate/{{_id}}">Sửa</a>

                            <a class="btn btn-outline-danger" href="/delete_cate/{{_id}}"
                                onclick="return confirm('Bạn có muốn xóa ?')">Xóa</a>
                        </td>
                    </tr>
                    {{/each}}
                </tbody>
        </table>
    </div>
</body>
