<body>
    <div class="table-responsive" style="position: absolute">
    <table class="table v-middle">
        <thead>
            <tr class="bg-light">
                <th class="border-top-0">Username</th>
                <th class="border-top-0">Email</th>
                <th class="border-top-0">Phone</th>
                <th class="border-top-0">Role</th>                                         
            </tr>
        </thead>
            <tbody>
                {{# each userList}}
                <tr>
                    <td>{{username}}</td>
                    <td>{{email}}</td>
                    <td >{{phone}}</td>
                    <td >{{role}}</td>
                </tr>
                {{/each}}
            </tbody>
    </table>
</div>
</body>

